body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Gill Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.header{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 40px;
    background-color: #206546;
    color: wheat;
}
.header nav a {
    color: wheat;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}

.footer-nav{
    background-color: #206546;
    padding: 10px 0;
    text-align: center;
    position: flex;
    bottom: 0;
    width: 100%;
    color:wheat;
}

.section-divider {
    border: none;
    border-top: 3px solid #206546;
    margin: 50px auto;
    width: 80%;
}

@media (max-width: 768px) {
    .main-content{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex:1;
        max-width: 1000px;
        margin: auto;
        padding: 50px;
    }
    .header nav {
        margin-top: 10px;
    }

    .header nav a{
        display: block;
        margin:6px 0;
    }

    .intro, .photo{
        width: 100%;
        padding:0%;
        text-align: center;
    }
}
.main-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin:0 auto;
    padding: 50px 20px;
    gap: 40px;
}

.intro{
    flex:1;
    padding-right: 30px;
    line-height: 1.6;
}


.intro h2{
    color:#333;
}

.photo {
    flex: 1;
    max-width: 300px;
    display: flex;
    justify-content: center;
}

.photo img{
    max-width: 300px;
    height:auto;
    border-radius: 50%;
    border: 5px solid #206546;
}
